Repository remybms/SQL_final, pull requests merged in 2023-10, with the labels that each got.

#2 [ADD] All the Tables of the company
  README.md
  database/company.db
  src/Create_Table.sql
Labels: createTable

#8 Server
  data.go
  main/main.go
  server.go
  templates/main.html
Labels: good first issue

#10 [FIX] employees tables
  database/company.db
  generator/generateData.py
  src/createTable.sql
Labels: bug, createTable

#11 Createmployee
  data.go
  server.go
  sqlrequests.go
  templates/createemployee.html
Labels: enhancement

#12 [ADD] The CSS/HTML of the local server
  templates/assets/background.jpg
  templates/assets/create_employee.png
  templates/assets/index.css
  templates/createemployee.html
  templates/index.php
  templates/login.html
  templates/main.html
Labels: HTML/CSS

#13 Add post
  data.go
  generator/generateData.py
  server.go
  sqlrequests.go
  templates/createemployee.html
Labels: HTML/CSS

#14 [ADD] new database without product and clients
  database/company.db
  generator/generateData.py
  src/createTable.sql
Labels: good first issue, createTable

#17 Fix css
  README.md
  createCompany.sh
  database/company.db
  src/createTable.sql
  templates/assets/index.css
  templates/createemployee.html
  templates/index.php
  templates/login.html
  templates/main.html
  templates/sorted.html
Labels: HTML/CSS

#18 [ADD] new design for all web pages
  templates/assets/index.css
  templates/createemployee.html
  templates/main.html
  templates/sorted.html
Labels: HTML/CSS

#19 [FIX] createtable
  src/createTable.sql
Labels: bug
